<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
<%= form.error_notification %>
<div class="form-inputs">
    <%= form.input :username, required: true, placeholder: "case-sensitive!", autofocus: true %>
    <%= form.input :email, required: true, input_html: { autocomplete: "email" }%>
    <%= form.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
    <%= form.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
</div>
<div class="form-actions">
    <%= form.button :submit, "Go Catch 'em All!", class: "btn btn-primary" %>
</div>
<% end %>
