<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
    <div class="form-inputs">
        <%= form.input :username, required: false, placeholder: "case-sensitive!", autofocus: true, input_html: { autocomplete: "username" } %>
        <%= form.input :password, required: false, input_html: { autocomplete: "current-password" } %>
        <%= form.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= render "devise/shared/login-links" %>
    </div>
    <div class="form-actions">
        <div class="modal-footer">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#signupModal">
                  Sign Up
              </button>
            <% end %>
            <%= form.button :submit, "Log in", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
